@charset "utf-8";

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import '../fonts/nanumbarungothic.css';

$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.2)); // ~18px
$font-size-small: ceil(($font-size-base * 0.8)); // ~12px

$font-size-h1: floor(($font-size-base * 2.2)); // ~36px
$font-size-h2: floor(($font-size-base * 2)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.5)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.2)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.8)); // ~12px

$font-family-main: 'Nanum Barun Gothic', "Helvetica Neue", Helvetica, AppleSDGothic, Arial, sans-serif;

body {
  font-family: $font-family-main;
}

header {
  background: #39f;

  @extend .hidden-print;
  @extend .hidden-xs;

  @include clearfix;

  h1 {
    color: white;
    float: left;
    font-size: 1.4em;
    height: 48px;
    line-height: 24px;
    margin: 0;
    padding: 10px;
    width: 45vw;

    a,
    a:visited,
    a:hover {
      color: white;
    }
  }

  nav {
    float: left;
    height: 48px;
    padding: 10px;
    text-align: right;
    width: calc(55vw - 10px - 10px);
  }

  ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin: 0 5px 0 0;

    a,
    a:visited,
    a:hover {
      color: white;
      font-size: 1.4em;
      line-height: 24px;
    }
  }
}

%inline-list {
  display: inline-block;
  margin: 0 20px;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 3px;

    &::after {
      content: ',';
    }

    &:last-child::after {
      content: '';
    }
  }
}

main {
  margin: auto;
  padding-bottom: 5rem;
  width: 95vw;
  word-break: break-all;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: $font-size-h1 * 2;
}

h2 {
  font-size: $font-size-h2 * 0.8;
}

h3 {
  font-size: $font-size-h3 * 0.8;
}

h4 {
  font-size: $font-size-h4 * 0.8;
}

h5 {
  font-size: $font-size-h5 * 0.8;
}

h6 {
  font-size: $font-size-h6 * 0.8;
}

.pr,
.issue {
  @extend .label;
}

.pr {
  @extend .label-success;

  &::before {
    content: 'PR ';
  }
}

.issue {
  @extend .label-info;

  &::before {
    content: 'ISSUE ';
  }
}

section {
  h2 {
    border-bottom: 1px dotted #aaa;
  }

  h3 {
    .date {
      font-size: 0.7em;
    }
  }

  > dl,
  > section,
  > p {
    margin: 0 20px;

    p,
    ul {
      margin: 0 20px;
    }
  }

  > dl {
    @include clearfix;

    dt {
      float: left;
      margin-right: 5px;
      text-align: right;
      width: 100px;

      &::after {
        content: ':';
      }
    }

    dd {
      float: left;
      width: calc(100% - 100px - 5px);

      @include clearfix;
    }
  }
}

.section--info,
.section--technologies,
.section--work-experiences,
.section--organizations,
.section--projects {
  ul {
    @extend %inline-list;
  }
}

.section--work-experiences,
.section--organizations,
.section--projects {
  ul::before {
    content: 'Used technologies: ';
  }

  ul {
    border-top: 1px dotted #bbb;
    margin-top: 5px;
    padding-top: 5px;
  }
}

.section--info {
  ul {
    margin: 0;
  }
}

.section--opensource-contributions {
  ol {
    display: inline-block;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 3px;

      &::after {
        content: ',';
      }

      &:last-child::after {
        content: '';
      }
    }
  }
}

section.index {
  h1 {
    font-size: $font-size-h1;
  }

  ul {
    li {
      font-size: 1.4em;
    }
  }
}
