{%- extends 'layout.html' -%}
{%- block body -%}
<article>
  <h1>FAQ</h1>
  {%- set questions = site.get('questions').children.include_undiscoverable(true).include_hidden(true).order_by('priority').all() -%}
  <nav>
    <h2>목차</h2>
    <ol>
      {%- for question in questions -%}
        <li><a href="#faq-{{ question._id }}">{{ question.question }}</a></li>
      {%- endfor -%}
    </ol>
  </section>
  {%- for question in questions -%}
    <section id="faq-{{ question._id }}">
      <h2>{{ question.question }}</h2>
      <p>{{ question.answer }}</p>
    </section>
  {%- endfor -%}
</article>
{%- endblock -%}
