{%- extends 'layout.html' -%}
{%- block body -%}
<section property="mainEntity" typeOf="ProfilePage">
  <h1 property="mainContentOfPage">Résumé</h1>
  <meta property="inLanguage" content="ko-KR">
  <div property="about author mainEntity" typeOf="Person">
    <section class="section--info" id="info">
      <h2>Jinsu Kim</h2>
      <dl>
        <dt>Name</dt>
        <dd property="name">김진수</dd>
        <dt>ID or Nickname on Web</dt>
        <dd>item4</dd>
        <dt>Addr</dt>
        <dd property="address" typeOf="PostalAddress">
          <meta property="addressCountry" content="KR">
          <span property="addressLocality">경기도 부천시 소사구</span>
        </dd>
        <dt>Email</dt>
        <dd><a href="mailto:resume@jinsu.kim" property="email">resume@jinsu.kim</a></dd>
        <dt>Objective</dt>
        <dd property="jobTitle">웹 개발자</dd>
        <dt>Links</dt>
        <dd>
          <ul>
            {%- set links = site.get('links').children.include_undiscoverable(true).include_hidden(true).order_by('priority').all() -%}
            {%- for link in links -%}
              <li><a href="{{ link.url }}" property="url">{{ link.name }}</a></li>
            {%- endfor -%}
          </ul>
        </dd>
      </dl>
    </section>
    <section class="section--technologies" id="technologies" typeOf="ItemList">
      <h2>Technologies</h2>
      {%- set tech_categories = site.get('tech-categories').children.include_undiscoverable(true).include_hidden(true).order_by('priority').all() -%}
      {%- for tech_category in tech_categories -%}
        <section>
          <h3 property="name">{{ tech_category.name }}</h3>
          <ul>
            {%- for tech in tech_category.elements.blocks -%}
              <li property="itemListElement" typeOf="ListItem">
                <meta property="position" content="{{ loop.index }}">
                <span property="item" typeOf="Webpage">
                  <meta property="url" content="{{ tech.url }}">
                  <span property="name">{{ tech.name }}</span>
                </span>
              </li>
            {%- endfor -%}
          </ul>
        </section>
      {%- endfor -%}
    </section>
    <section class="section--work-experiences" id="work-experiences">
      <h2>Work Experiences</h2>
      {%- set work_experiences = site.get('work-experiences').children.include_undiscoverable(true).include_hidden(true).order_by('-started_at', 'priority').all() -%}
      {%- for work in work_experiences -%}
        <section property="worksFor" typeOf="Organization">
          <h3>{%- if work.url -%}<a property="url" href="{{ work.url }}" target="_blank">{%- endif -%}<span property="name">{{ work.name }}</span>{%- if work.url -%}</a>{%- endif -%}{{ ' ' }}{%- if work.repo_url -%}<a href="{{ work.repo_url }}" class="repo" target="_blank">(저장소)</a>{%- endif -%}{{ ' ' }}<span class="date">(<date typeOf="startDate">{{ work.started_at | dateformat(work.started_at_format) }}</date>부터{{ ' ' }} {%- if work.ended_at != work.started_at -%}<date>{{ work.ended_at | dateformat(work.ended_at_format) }}</date>까지{%- else -%}계속{%- endif -%})</span></h3>
          <div property="description">
            {{ work.description }}
          </div>
          <ul>
            {%- for tech in work.technologies -%}
              <li>{{ tech }}</li>
            {%- endfor -%}
          </ul>
        </section>
      {%- endfor -%}
    </section>
    <section class="section--organizations" id="organizations">
      <h2>Organizations</h2>
      {%- set organizations = site.get('organizations').children.include_undiscoverable(true).include_hidden(true).order_by('-started_at', 'priority').all() -%}
      {%- for org in organizations -%}
        <section property="affiliation" typeOf="Organization">
          <h3>{%- if org.url -%}<a href="{{ org.url }}" target="_blank" property="url">{%- endif -%}<span property="name">{{ org.name }}</span>{%- if org.url -%}</a>{%- endif -%}{{ ' ' }}{%- if org.repo_url -%}<a href="{{ org.repo_url }}" class="repo" target="_blank">(저장소)</a>{%- endif -%}{{ ' ' }}<span class="date">(<date>{{ org.started_at | dateformat(org.started_at_format) }}</date>부터{{ ' ' }} {%- if org.ended_at != org.started_at -%}<date>{{ org.ended_at | dateformat(org.ended_at_format) }}</date>까지{%- else -%}계속{%- endif -%})</span></h3>
          <div property="description">
            {{ org.description }}
          </div>
          <ul>
            {%- for tech in org.technologies -%}
              <li>{{ tech }}</li>
            {%- endfor -%}
          </ul>
        </section>
      {%- endfor -%}
    </section>
    <section class="section--projects" id="projects">
      <h2>Participated Projects</h2>
      {%- set participated_projects = site.get('participated-projects').children.include_undiscoverable(true).include_hidden(true).order_by('-started_at', 'priority').all() -%}
      {%- for project in participated_projects -%}
        <section>
          <h3>{%- if project.url -%}<a href="{{ project.url }}" target="_blank">{%- endif -%}{{ project.name }}{%- if project.url -%}</a>{%- endif -%}{{ ' ' }}{%- if project.repo_url -%}<a href="{{ project.repo_url }}" class="repo" target="_blank">(저장소)</a>{%- endif -%}{{ ' ' }}<span class="date">(<date>{{ project.started_at | dateformat(project.started_at_format) }}</date>부터{{ ' ' }} {%- if project.ended_at != project.started_at -%}<date>{{ project.ended_at | dateformat(project.ended_at_format) }}</date>까지{%- else -%}계속{%- endif -%})</span></h3>
          <div>
            {{ project.description }}
          </div>
          <ul>
            {%- for tech in project.technologies -%}
              <li>{{ tech }}</li>
            {%- endfor -%}
          </ul>
        </section>
      {%- endfor -%}
    </section>
    <section class="section--opensource-contributions" id="opensource-contributions">
      <h2>Open-Source Contributions</h2>
      {%- set opensource_contributions = site.get('opensource-contributions').children.include_undiscoverable(true).include_hidden(true).order_by('name').all() -%}
      {%- for contribution in opensource_contributions -%}
      <ul>
        <li>
          {%- if contribution.url -%}<a href="{{ contribution.url }}" target="_blank">{%- endif -%}
          {{ contribution.name }}
          {%- if contribution.url -%}</a>{%- endif -%}:
          <ol>
            {%- for item in contribution.list.blocks -%}
              <li><a href="{{ item.url }}" class="{{ item.type }}">#{{ item.num }}</a></li>
            {%- endfor -%}
          </ol>
        </li>
      </ul>
      {%- endfor -%}
    </section>
    <section class="section--activities" id="activities">
      <h2>Activities</h2>
      {%- set activities = site.get('activities').children.include_undiscoverable(true).include_hidden(true).order_by('-date').all() -%}
      {%- for activity in activities -%}
        <section>
          <h3>{%- if activity.url -%}<a href="{{ activity.url }}" target="_blank">{%- endif -%}{{ activity.title }}{%- if activity.url -%}</a>{%- endif -%}{{ ' ' }}<span class="date">(<date>{{ activity.date | dateformat('YYYY-MM-dd') }}</date>)</span></h3>
          <p>{{ activity.description }}</p>
        </section>
      {%- endfor -%}
    </section>
    <section class="section--disorders" id="disorders" property="description">
      <h2>Disorders</h2>
      {%- set disorders = site.get('disorders').children.include_undiscoverable(true).include_hidden(true).order_by('priority').all() -%}
      {%- for disorder in disorders -%}
      <section>
        <h3><a href="{{ disorder.url }}" target="_blank">{{ disorder.ko_name }} ({{ disorder.en_name }})</a></h3>
        <div>
          {{ disorder.description }}
        </div>
      </section>
      {%- endfor -%}
    </section>
  </div>
</section>
{%- endblock -%}
