:root {
  --issue-color: #5bc0de;
  --pr-color: #5cb85c;
  --default-font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --resume-color: #0054b3;
  --blue: #d0e6f0;
  --yellow: #fbe5c0;
  --green: #d2e5d0;
  --link-underline-width: 0.15rem;
  --link-underline-color: hsl(210deg 80% 75%);
}
body {
  font-family: var(--default-font-family, sans-serif);
}
header {
  align-items: center;
  background-color: var(--resume-color);
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin-block-end: 2rem;
  width: 100vw;
}
header .home {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;

  line-height: 1.5;
  margin-inline-start: 1.5rem;
  text-decoration: none;
}
header nav {
  margin-inline-end: 2rem;
  text-align: right;
}
header ul {
  display: flex;
  flex-basis: fit-content;
  list-style-type: none;
}
header li:not(:last-of-type)::after {
  color: #fff;
  content: '/';
  padding-inline: 1rem;
}
header nav a {
  color: white;
  font-size: 1.25rem;
}
header a[aria-current] {
  text-decoration: underline;
}
main {
  margin: auto;
  padding-block-end: 2rem;
  width: 95vw;
  word-break: break-all;
}
section > :is(section, dl, ul, ol, p) {
  padding-inline: 1rem;
  margin-block-end: 1rem;
}

section:not(:last-of-type) {
  margin-block-end: 0.5rem;
}
main > section:not(:last-of-type) {
  margin-block-end: 2rem;
}

main:not(.index) a[href] {
  border-block-end: var(--link-underline-width) solid var(--link-underline-color);
}

main:not(.index) ul:not(.inline, .contribution) li::before {
  color: #444;
  content: '⦁';
  margin-inline-end: 0.5rem;
  vertical-align: baseline;
}
ul.inline {
  display: flex;
}
ul.inline li {
  flex-basis: fit-content;
  margin-block-end: 0;
}
ul.inline li:not(:last-of-type) {
  margin-inline-end: 0.25rem;
}
ul.inline li:not(:last-of-type)::after {
  content: ',';
}

main li:not(:last-of-type) {
  margin-block-end: 0.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-block-end: 1rem;
}
h2 {
  font-size: 1.8rem;
  font-weight: bold;
  border-block-end: 0.1rem dotted #aaa;
  padding-block-end: 0.2rem;
  margin-block-end: 0.5rem;
}
h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-block-end: 0.5rem;
}
h4 {
  font-weight: bold;
  margin-block-end: 0.5rem;
}
dl {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0.5rem 0.5rem;
  width: fit-content;
}
dt {
  font-weight: bold;
  text-align: right;
}
dt::after {
  content: ':';
}
dd:has(> section) {
  position: relative;
  padding-block-start: 1.75rem;
  left: -2.5rem;
}
dd > section > dl {
  margin-inline: 1rem;
}
dd > ul {
  margin: 0;
}

dd > section:not(:last-of-type) {
  margin-block-end: 1.2rem;
}

/* index page only */
main.index ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.index li {
  margin-block-end: 2rem;
  width: min(90vw, 50rem);
}
main.index li a {
  background: var(--bg-color, unset);
  font-size: 1.4rem;
  width: 90%;
  padding: 2rem 0;
  margin: auto;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 200ms ease;
}
main.index li a:is(:hover, :focus) {
  width: 100%;
}
main.index li a[href='/resume/'] {
  --bg-color: var(--blue);
}
main.index li a[href='/parttime/'] {
  --bg-color: var(--green);
}
main.index li a[href='/faq/'] {
  --bg-color: var(--yellow);
}

/* resume page only */
ul.contribution {
  display: flex;
  list-style-type: none;
}
ul.contribution li {
  flex-basis: fit-content;
  margin-block-end: 0;
}
ul.contribution li:not(:last-of-type) {
  margin-inline-end: 0.3rem;
}
ul.contribution a {
  border-block-end: var(--link-underline-width) dotted var(--link-underline-color);

  text-decoration: none;
}
ul.contribution a[href*='/issues/'] {
  --link-underline-color: var(--issue-color);
}
ul.contribution a:is([href^="https://github.com/"][href*="/pull/"], [href^="https://bitbucket.org/"][href*="/pull-requests/"], [href^="https://foss.heptapod.net/"][href*="/merge_requests/"])
{
  --link-underline-color: var(--pr-color);
}
main.resume ul.work {
  margin-block-start: 1.5rem;
}
/* faq page only */
main.faq ol {
  list-style-type: decimal;
  list-style-position: inside;
}

@media (max-width: 576px) {
  header {
    display: none;
  }
}

@media print {
  header {
    display: none;
  }
  main {
    width: 100vw;
  }
  ul.contribution li:not(:last-of-type)::after {
    content: ',';
  }
  .page-break {
    break-before: page;
  }
  .page-break ~ section {
    padding-top: 0.3cm;
  }
}
