:root {
  --font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --theme-color: hsl(212deg 100% 35%);
  --issue-color: hsl(194deg 66% 80%);
  --pr-color: hsl(120deg 39% 80%);
  --index-resume-bg-color: hsl(199deg 52% 88%);
  --index-part-time-bg-color: hsl(114deg 29% 86%);
  --index-faq-bg-color: hsl(38deg 88% 87%);
  --link-underline-width: 0.15rem;
  --link-underline-color: hsl(210deg 80% 80%);
}
body {
  font-family: var(--font-family, sans-serif);
}
header {
  align-items: center;
  background-color: var(--theme-color);
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin-block-end: 2rem;
  width: 100vw;
}
header .home {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin-inline-start: 1.5rem;
  text-decoration: none;
}
header nav {
  margin-inline-end: 2rem;
  text-align: right;
}
header ul {
  display: flex;
  flex-basis: fit-content;
  list-style-type: none;
}
header li:not(:last-of-type)::after {
  color: #fff;
  content: '/';
  padding-inline: 1rem;
}
header nav a {
  color: white;
  font-size: 1.25rem;
}
header a[aria-current] {
  text-decoration: underline;
}
main {
  margin: auto;
  padding-block-end: 2rem;
  width: 95vw;
}
section > :is(section, dl, ul, ol, p) {
  padding-inline: 1rem;
  margin-block-end: 1rem;
}

section:not(:last-of-type) {
  margin-block-end: 0.5rem;
}
main > section:not(:last-of-type) {
  margin-block-end: 2rem;
}

main:not(.index) a[href] {
  border-block-end: var(--link-underline-width) solid var(--link-underline-color);
}

main:not(.index) :not(ul.inline, dl.contribution ul) > li::before {
  color: #444;
  content: 'â¦';
  margin-inline-end: 0.5rem;
  vertical-align: baseline;
}
ul.inline {
  display: flex;
  flex-wrap: wrap;
}
ul.inline li {
  flex-basis: fit-content;
  margin-block-end: 0;
}
ul.inline li:not(:last-of-type) {
  margin-inline-end: 0.25rem;
}
ul.inline li:not(:last-of-type)::after {
  content: ',';
}

main li:not(:last-of-type) {
  margin-block-end: 0.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-block-end: 1rem;
}
h2 {
  font-size: 1.8rem;
  font-weight: bold;
  border-block-end: 0.1rem dotted #aaa;
  padding-block-end: 0.2rem;
  margin-block-end: 0.5rem;
}
h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-block-end: 0.5rem;
}
h4 {
  font-weight: bold;
  margin-block-end: 0.5rem;
}
dl {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0.5rem 0.5rem;
  width: fit-content;
}
dt {
  font-weight: bold;
  text-align: right;
}
dt::after {
  content: ':';
}
dd:has(> section) {
  position: relative;
  padding-block-start: 1.75rem;
  left: -2.5rem;
}
dd > section > dl {
  margin-inline: 1rem;
}
dd > section > dl :is(dd, .inline) {
  max-width: calc(90vw - 12rem);
}
dd > ul {
  margin: 0;
}
dd > ul > li {
  line-height: 1.5;
}

dd > section:not(:last-of-type) {
  margin-block-end: 1.2rem;
}

/* index page only */
main.index ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.index li {
  margin-block-end: 2rem;
  width: min(90vw, 50rem);
}
main.index li a {
  background: var(--bg-color, unset);
  font-size: 1.4rem;
  width: 90%;
  padding: 2rem 0;
  margin: auto;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 200ms ease;
}
main.index li a:is(:hover, :focus) {
  width: 100%;
}
main.index li a[href='/resume/'] {
  --bg-color: var(--index-resume-bg-color);
}
main.index li a[href='/parttime/'] {
  --bg-color: var(--index-part-time-bg-color);
}
main.index li a[href='/faq/'] {
  --bg-color: var(--index-faq-bg-color);
}

/* resume page only */
dl.contribution ul {
  display: flex;
  list-style-type: none;
}
dl.contribution ul li {
  flex-basis: fit-content;
  margin-block-end: 0;
}
dl.contribution ul li:not(:last-of-type) {
  margin-inline-end: 0.3rem;
}
dl.contribution ul a {
  border-block-end: var(--link-underline-width) dotted var(--link-underline-color);
  text-decoration: none;
}
dl.contribution ul a::before {
  content: '#';
}
dl.contribution ul a[href*='/issues/'] {
  --link-underline-color: var(--issue-color);
}
dl.contribution ul a:is([href^="https://github.com/"][href*="/pull/"], [href^="https://bitbucket.org/"][href*="/pull-requests/"], [href^="https://foss.heptapod.net/"][href*="/merge_requests/"])
{
  --link-underline-color: var(--pr-color);
}
main.resume ul.work {
  margin-block-start: 1.5rem;
}
/* faq page only */
main.faq ol {
  list-style-type: decimal;
  list-style-position: inside;
}

@media (max-width: 576px) {
  header {
    display: none;
  }
}

@media print {
  header {
    display: none;
  }
  main {
    width: 100vw;
  }
  dl.contribution ul li:not(:last-of-type)::after {
    content: ',';
  }
  .page-break {
    break-before: page;
  }
  .page-break ~ section {
    padding-top: 0.3cm;
  }
}
